<ion-header>
  <ion-toolbar>
    <ion-title>
      Avatar and Cards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-avatar slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <ion-label>Hi! Im Bill Christian</ion-label>
</ion-item>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Hobbies 1</ion-card-subtitle>
    <ion-card-title>Playing Video Games</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    I'm usually playing League of Legends and sometimes Valorant.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Hobbies 2</ion-card-subtitle>
    <ion-card-title>Coding</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   Making a code for our better community
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Hobbies 3</ion-card-subtitle>
    <ion-card-title>Listening to music</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    RNB music like foreign and local music kinda chillin but old music its 
    nostalgic and sounds relaxing.
  </ion-card-content>
</ion-card>

